<!-- ads/templates/location/delete_location.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Location</title>
</head>
<body>
    <h1>Delete Location</h1>
    <p>Ви впевнені, що хочете видалити локацію "{{ location.location_name }}"?</p>

    <form method="DELETE" action="{% url 'delete_location' location.id %}">
        {% csrf_token %}
        <button type="submit">Підтвердити видалення</button>
    </form>

    <a href="{% url 'get_all_locations' %}">Back to All Locations</a>
</body>
</html>
